<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StockTracker</display-name>
  <welcome-file-list>
    <welcome-file>main_index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CountryInsertServlet</display-name>
    <servlet-name>CountryInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CountryInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryInsertServlet</servlet-name>
    <url-pattern>/countryInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryEditServlet</display-name>
    <servlet-name>CountryEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CountryEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryEditServlet</servlet-name>
    <url-pattern>/countryEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryUpdateServlet</display-name>
    <servlet-name>CountryUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CountryUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryUpdateServlet</servlet-name>
    <url-pattern>/countryUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryListServlet</display-name>
    <servlet-name>CountryListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CountryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryListServlet</servlet-name>
    <url-pattern>/countryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryDeleteServlet</display-name>
    <servlet-name>CountryDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CountryDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryDeleteServlet</servlet-name>
    <url-pattern>/countryDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenderInsertServlet</display-name>
    <servlet-name>GenderInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.GenderInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderInsertServlet</servlet-name>
    <url-pattern>/genderInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenderEditServlet</display-name>
    <servlet-name>GenderEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.GenderEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderEditServlet</servlet-name>
    <url-pattern>/genderEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenderUpdateServlet</display-name>
    <servlet-name>GenderUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.GenderUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderUpdateServlet</servlet-name>
    <url-pattern>/genderUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenderListServlet</display-name>
    <servlet-name>GenderListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.GenderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderListServlet</servlet-name>
    <url-pattern>/genderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenderDeleteServlet</display-name>
    <servlet-name>GenderDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.GenderDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderDeleteServlet</servlet-name>
    <url-pattern>/genderDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeInsertServlet</display-name>
    <servlet-name>TypeInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.TypeInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeInsertServlet</servlet-name>
    <url-pattern>/typeInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeDeleteServlet</display-name>
    <servlet-name>TypeDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.TypeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeDeleteServlet</servlet-name>
    <url-pattern>/typeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeUpdateServlet</display-name>
    <servlet-name>TypeUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.TypeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeUpdateServlet</servlet-name>
    <url-pattern>/typeUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeEditServlet</display-name>
    <servlet-name>TypeEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.TypeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeEditServlet</servlet-name>
    <url-pattern>/typeEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeListServlet</display-name>
    <servlet-name>TypeListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.TypeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeListServlet</servlet-name>
    <url-pattern>/typeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateInsertServlet</display-name>
    <servlet-name>StateInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.StateInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateInsertServlet</servlet-name>
    <url-pattern>/stateInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateEditServlet</display-name>
    <servlet-name>StateEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.StateEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateEditServlet</servlet-name>
    <url-pattern>/stateEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateListServlet</display-name>
    <servlet-name>StateListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.StateListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateListServlet</servlet-name>
    <url-pattern>/stateList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateDeleteServlet</display-name>
    <servlet-name>StateDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.StateDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateDeleteServlet</servlet-name>
    <url-pattern>/stateDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateUpdateServlet</display-name>
    <servlet-name>StateUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.StateUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateUpdateServlet</servlet-name>
    <url-pattern>/stateUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterInsertServlet</display-name>
    <servlet-name>RegisterInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.RegisterInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterInsertServlet</servlet-name>
    <url-pattern>/registerInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEditServlet</display-name>
    <servlet-name>RegisterEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.RegisterEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEditServlet</servlet-name>
    <url-pattern>/registerEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUpdateServlet</display-name>
    <servlet-name>RegisterUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.RegisterUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUpdateServlet</servlet-name>
    <url-pattern>/registerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterListServlet</display-name>
    <servlet-name>RegisterListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.RegisterListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterListServlet</servlet-name>
    <url-pattern>/registerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterDeleteServlet</display-name>
    <servlet-name>RegisterDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.RegisterDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDeleteServlet</servlet-name>
    <url-pattern>/registerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInsertServlet</display-name>
    <servlet-name>ItemInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInsertServlet</servlet-name>
    <url-pattern>/itemInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDeleteServlet</display-name>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <url-pattern>/itemDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemListServlet</display-name>
    <servlet-name>ItemListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemListServlet</servlet-name>
    <url-pattern>/itemList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemEditServlet</display-name>
    <servlet-name>ItemEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemEditServlet</servlet-name>
    <url-pattern>/itemEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemUpdateServlet</display-name>
    <servlet-name>ItemUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemUpdateServlet</servlet-name>
    <url-pattern>/itemUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderInsertServlet</display-name>
    <servlet-name>OrderInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.OrderInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderInsertServlet</servlet-name>
    <url-pattern>/orderInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderEditServlet</display-name>
    <servlet-name>OrderEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.OrderEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderEditServlet</servlet-name>
    <url-pattern>/orderEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDeleteServlet</display-name>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.OrderDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDeleteServlet</servlet-name>
    <url-pattern>/orderDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/orderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderUpdateServlet</display-name>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.OrderUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <url-pattern>/orderUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemorderInsertServlet</display-name>
    <servlet-name>ItemorderInsertServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemorderInsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemorderInsertServlet</servlet-name>
    <url-pattern>/itemorderInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemorderEditServlet</display-name>
    <servlet-name>ItemorderEditServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemorderEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemorderEditServlet</servlet-name>
    <url-pattern>/itemorderEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemorderListServlet</display-name>
    <servlet-name>ItemorderListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemorderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemorderListServlet</servlet-name>
    <url-pattern>/itemorderList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemorderUpdateServlet</display-name>
    <servlet-name>ItemorderUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemorderUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemorderUpdateServlet</servlet-name>
    <url-pattern>/itemorderUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemorderDeleteServlet</display-name>
    <servlet-name>ItemorderDeleteServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemorderDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemorderDeleteServlet</servlet-name>
    <url-pattern>/itemorderDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Servlet</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutservlet</display-name>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerIndexItemListServlet</display-name>
    <servlet-name>CustomerIndexItemListServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CustomerIndexItemListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerIndexItemListServlet</servlet-name>
    <url-pattern>/CustomerIndexItemListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerActiveServlet</display-name>
    <servlet-name>CustomerActiveServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CustomerActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerActiveServlet</servlet-name>
    <url-pattern>/CustomerActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerIndexOnlyList</display-name>
    <servlet-name>CustomerIndexOnlyList</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CustomerIndexOnlyList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerIndexOnlyList</servlet-name>
    <url-pattern>/CustomerIndexOnlyList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerViewOrderServlet</display-name>
    <servlet-name>CustomerViewOrderServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CustomerViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerViewOrderServlet</servlet-name>
    <url-pattern>/CustomerViewOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarehouseViewCustomerServlet</display-name>
    <servlet-name>WarehouseViewCustomerServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.WarehouseViewCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseViewCustomerServlet</servlet-name>
    <url-pattern>/WarehouseViewCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeOrderStatusServlet</display-name>
    <servlet-name>ChangeOrderStatusServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ChangeOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderStatusServlet</servlet-name>
    <url-pattern>/ChangeOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShipViewCustomerServlet</display-name>
    <servlet-name>ShipViewCustomerServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ShipViewCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShipViewCustomerServlet</servlet-name>
    <url-pattern>/ShipViewCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>otpcheckservlet</display-name>
    <servlet-name>otpcheckservlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.otpcheckservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>otpcheckservlet</servlet-name>
    <url-pattern>/otpcheckservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassUpdateServlet</display-name>
    <servlet-name>PassUpdateServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.PassUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassUpdateServlet</servlet-name>
    <url-pattern>/PassUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerViewOrderServlet2</display-name>
    <servlet-name>CustomerViewOrderServlet2</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.CustomerViewOrderServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerViewOrderServlet2</servlet-name>
    <url-pattern>/CustomerViewOrderServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>itemorderEditFromCartServlet</display-name>
    <servlet-name>itemorderEditFromCartServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.itemorderEditFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>itemorderEditFromCartServlet</servlet-name>
    <url-pattern>/itemorderEditFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOnlyTotalServlet</display-name>
    <servlet-name>UpdateOnlyTotalServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.UpdateOnlyTotalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOnlyTotalServlet</servlet-name>
    <url-pattern>/UpdateOnlyTotalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInsertWithImageServlet</display-name>
    <servlet-name>ItemInsertWithImageServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ItemInsertWithImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInsertWithImageServlet</servlet-name>
    <url-pattern>/ItemInsertWithImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payumoneyservlet</display-name>
    <servlet-name>payumoneyservlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.payumoneyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payumoneyservlet</servlet-name>
    <url-pattern>/payumoneyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHandlerServlet</display-name>
    <servlet-name>RequestHandlerServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.RequestHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHandlerServlet</servlet-name>
    <url-pattern>/RequestHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsServlet</display-name>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/ContactUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeOrderShipStatusServlet</display-name>
    <servlet-name>ChangeOrderShipStatusServlet</servlet-name>
    <servlet-class>Sparks_To_Idea.Project_Code.controller.ChangeOrderShipStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeOrderShipStatusServlet</servlet-name>
    <url-pattern>/ChangeOrderShipStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>